body {
  background-color: #fffacd;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 3rem auto;
  color: #435f47;
  max-width: 95rem;
}

header>img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  text-align: center;
  border-bottom: 1px solid #006400;
  border-top: 1px solid darkgreen;
  padding: 10px 0;
  margin: 0;
}

nav li {
  display: inline-block;
  padding: 1rem;
}

nav a {
  text-decoration: none;
  color: rgb(67, 95, 71);
  font-weight: bold;
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: darkgreen;
  color: #fff;
}

section {
  margin-left: auto;
  margin-right: auto;
}


section ul {
  display: flex;
  list-style-type: none;
  padding: 3rem 3rem 0 3rem;
  margin-bottom: 0;
  justify-content: center;
  flex-grow: 1;
}

section>ul>li>a {
  display: block;
  height: 2rem;
  line-height: 2rem;
  background-color: #789578;
  color:#CECECE;
  text-decoration: none;
  padding: 0 1rem;
  border-radius: 0.3rem 0.3rem 0 0;
}

section > div {
  padding: 1rem;
  background-color: #006400;
  border-radius: 1rem;
  transition: opacity 300ms linear;
}

section > div > p {
	line-height: 1.5em;
	margin-bottom: 1em;
  color: #F7F7F7;
  font-weight: bold;
}

h2 {
  color: #F7F7F7;
  font-weight: 900;
}

.open-time {
  text-align: center;
  color: #F7F7F7 ;
  margin-bottom: 00.5rem;
}

section .active {
  background-color: #006400;
  color: #F7F7F7;
}

section .hidden {display: none;}
section .visible {display: block;}
section .visuallyhidden {opacity: 0;}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  margin-top: 5px;
  margin-bottom: 100px;
}

footer p {
  position: absolute;
  top: 0;
  right: 0;
}

footer img {
  position: absolute;
  top: 0;
  left: 0;
}

footer img:hover {
  transform: rotate(360deg);
  transition: transform 0.3s ease-in-out;
}


@media only screen and (max-width: 768px) {
  body {
    margin: 2rem 2%;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  nav li {
    padding: 0.5rem;
  }

  section>ul{
    padding: 0.5rem;
    padding-bottom: 0;
    
  }
}