.header {
  background-color: #0c101c;
  color: white;
  padding: 0 1rem ;
  max-width: 3000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
} 

.header-left {
  width: 12rem;
}

@media (max-width: 800px) {
  .header-left {
    width: unset;
  }
}

.header-link {
  display: inline-block;
  padding: 0.35rem ;
  border-radius: 0.15rem;
  cursor: pointer;
  text-decoration: none;
  border: thin solid black;
  padding: 0;
}

.header-link:hover {
  border: 1px solid white;
}

.logo {
  width: 8rem;
  margin-top: 0.15rem;
}

.mobile-logo {
  display: none;
}

.header-middle {
  display: flex;
  flex: 1 ;
  max-width: 57rem ;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.search-bar {
  flex: 1;
  width: 0;
  font-size: 1rem;
  height: 3rem;
  padding: 0 0 0.1rem 1rem;
  border-radius: 1rem 0 0 1rem;
  border: none;

}

.search-button {
  width: 4rem;
  height: 3.1rem;
  background: linear-gradient(to right, #ef2944, pink);
  border-radius: 0 1rem 1rem 0;
  position: relative;
  flex-shrink: 0;
  border: none;
}

.search-icon {
  height: 1.5rem;
  margin-left: 0.15rem;
  margin-top: 0.15rem;
}

.header-right {
  width: 12rem;
  display: flex;
  flex-shrink: 0;
  justify-content: end;
}

.orders-link {
  color: white;
}

.returns-text {
  display: block;
  font-size: 1rem;
}

.orders-link {
  display: block;
  font-size: 1rem;
  font-weight: bold;
}

.cart-link {
  color: #fff;
  display: flex;
  align-items: center;
  position: relative;
}

.cart-icon {
  width: 3.3rem;
}

.cart-text{
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.cart-quantity {
  color: #ef2944;
  font-size: 1rem;
  font-weight: 900;

  position: absolute;
  top: 0px;
  left: 1.3rem;
  
  width: 1.4rem;
  text-align: center;
}

@media (max-width: 575px){
  .logo {
    display: none;
  }

  .mobile-logo {
    display:block;
    height: 4rem;
    margin-top: 5px;
  }
  .search-button {
    width: 2rem;
  }
}