* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 80vw;
  margin: 0 auto;
  background: linear-gradient(45deg, #000000, #4c4c4c);
  color: violet;
}

.Contact_form_article {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.Contact_form_label {
  display: block;
  margin-bottom: 5px;
}

.Contact_form_input,
.Contact_form_select,
.Contact_form_textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid violet;
  border-radius: 5px;
  background-color: rgb(77, 68, 68);
  color: white;
}

.Contact_form_textarea {
  resize: none;
}

.Contact_form_submit {
  background-color: violet;
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0px auto 0px auto;
  display: block;
  width: 100%;
}

.Contact_form_submit:hover {
  background-color: rgba(238, 130, 238, 0.363);
  color: violet;
}

#Contact_form_label_contact_preference {
  text-align: center;
  display: block;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

h2 {
  text-align: center;
  color: violet;
  font-size: 3rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 20px violet;
}

#Contact_form_container {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  border: whitesmoke ridge thick;
  box-shadow: 1px 1px 20px violet;
}