* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 80vw;
  margin: 0 auto;
  background: linear-gradient(45deg, #000000, #4c4c4c);
  color: white;
  height:200rem
}

.instructor {
  width: 20rem;
  position: relative;
  transition: width 0.3s ease; /* Adding a transition for smoothness */
}

.instructor:hover{
  width: 28rem;
}

.instructor:hover > .speech_bubble {
  opacity: 1;
}

.speech_bubble {
  margin-bottom: -3rem;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  height: 10rem;
  opacity: 0; /* Initially set to opacity 0 */
  transition: opacity 0.3s ease; /* Adding a transition for smoothness */
}


.bubble_arrow{
  border-left: thin solid rgba(238, 130, 238, 0.356);
  border-bottom: thin solid rgba(238, 130, 238, 0.356);
  height: 4rem;
  width: 4rem;
  align-self: flex-end;
  transform: skew(-10deg, 0deg);
  rotate: -3.5deg;
  position: absolute;
  right: 11.05rem;
  background: linear-gradient(to right top, rgb(77, 64, 77) 55%, rgba(238, 130, 238, 0) 0%);
}

.bubble_box{
  border: thin solid rgba(238, 130, 238, 0.356);
  border-radius: 5rem;
  flex: 0 1 15rem;
  background: linear-gradient(to right top, rgb(77, 64, 77) 20%, rgba(238, 130, 238, 0) 75%);
  padding-top: 3.5rem;
  padding-left: 2rem;
}

.insturctor_image {
  border: 1rem inset violet;
  border-radius: 50%;
  transition: all 0.3s linear;
}

.insturctor_image:hover {
  transform: translate(-15px, 15px) scale(1.1);
}

#instructors_area{
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(5, 20%) ;
}

#instuctor1 {
  grid-column: 1/2;
  grid-row: 1;
}
#instuctor2 {
  grid-column: 3/4;
  grid-row: 1;
}
#instuctor3 {
  grid-column: 5;
  grid-row: 1;
}
#instuctor4 {
  grid-column: 2/3;
  grid-row: 2;
}
#instuctor5 {
  grid-column: 4/5;
  grid-row: 2;
}
#instuctor6 {
  grid-column: 1/2;
  grid-row: 3;
}
#instuctor7 {
  grid-column: 3/4;
  grid-row: 3;
}
#instuctor8 {
  grid-column: 5;
  grid-row: 3;
}

/* ################ card styling ################# */

#Instructors_cards{
  display: none;
  background-color: hsla(0, 0%, 30%, 0.849);
  width: 80vw;
  height: calc(100vh + 25rem);
  padding: 1rem;
  margin-top: -100vh;
  position: relative;
  z-index: 1;
}

#Instructors_cards:target{
  display: block;
}

.instructor_card {
  width: 28.125rem;
  background-color: white;
  border-radius: 1.5rem;
  overflow: hidden;
  margin: 4rem auto;
}

.instructor_card_image {
  width: 28.125rem;
  
}

.instructor_card_info > * {
  line-height: 1.2rem;
  color: #000000;
  margin:1rem 0;
}
.instructor_name{
  color: darkviolet;
  font-weight: 900;
  font-size: 3rem;
  margin: 0rem auto 2rem;
}

.instructor_card_info {
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}


.enroll_button{
  background-color: rgb(245, 53, 245);
  padding: 1rem 0;
  color: white;
  box-shadow: 0 1.3rem 2.8rem -0.5rem rgb(243, 160, 243); ;
  width: 100%;
  border: none;
  font-weight: 700;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 0.8rem;
  text-decoration: none;
}

.enroll_button:hover{
  opacity: 0.7;
}