*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 80vw;
  margin: 0 auto;
  background: linear-gradient(45deg, #000000, #4c4c4c);
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#splash_screen_container{
  position: relative;
  width: 80vw;
  background: linear-gradient(45deg, #000000, #4c4c4c);
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  transition: margin-top 1s ease-in; /* Add transition to margin-top property */
  margin-top: 0; /* Initially no margin-top */
}

#splash_screen_container.hide {
  margin-top: -100%; /* Slide-up to hide the container */
}

#splash_screen_content{
  flex: 10;
  display: flex;
  overflow: hidden;
}

#splash_closing_arrow{
  justify-self: flex-end;
  background-color: hsla(291, 98%, 56%, 0.527);
  text-align: center;
  flex: 1;
}

#splash_screen_moving{
  position: relative;
  flex: 1.5;
}

#welcome_img{
  background-image: url("images/crunchyBeats_logo2.JPG");
  text-align: center;
  perspective: 800px;
  flex: 1;
}
#dynamic_gif {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 7.5%;;
  right: -90%;
  animation: slideInFromRight 5s ease-out 1s forwards, fade_out 1s linear 12s forwards;
}

@keyframes slideInFromRight {
  from {
    right: -50%;
  }
  to {
    right: 0%;
  }
}

@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#static_pic{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 7.5%;
  right:0%;
  opacity: 0;
  animation: delayed_glowing 3s ease-out 8s forwards;
}

@keyframes delayed_glowing {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.entry_dance {
  width: 100%;
}

#logo_splash {
  margin-top: 20%;
  margin-left: 20%;
  width: 80%;
  transform: rotateY(25deg) rotateX(10deg); 
  transition: transform 0.5s, box-shadow 0.5s;
  box-shadow: 1px 1px 50px white;
}
#welcome_img:hover #logo_splash {
  transform: rotateY(0deg) rotateX(0deg);
  box-shadow: 1px 1px 10px white;
}

#splash_closing_arrow_link{
  font-size: 3.5rem;
  color: white;
  font-weight: 900;
  text-decoration: none;
  display: block;
}