* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 80vw;
  margin: 0 auto;
  background: linear-gradient(45deg, #000000, #4c4c4c);
  font-family: Arial, Helvetica, sans-serif;
}

#splash_screen_container{
  position: absolute;
  top: 0;
  left: 5%;
  width: 90vw;
  background-image: url(../images/background_splash.jpg);
  background-size: cover;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  transition: margin-top 1s ease-in;
  margin-top: 0;
  z-index: 200;
  overflow: hidden;
  border-radius: 0 0 2rem 2rem;
}

#splash_screen_container.hide {
  margin-top: -117vh;
}

#splash_screen_content{
  flex: 10;
  display: flex;
  overflow: hidden;
  
}

#splash_closing_arrow{
  justify-self: flex-end;
  background : linear-gradient(to right, hsla(291, 98%, 56%, 1), hsla(261, 94%, 70%, 1));
  text-align: center;
  flex: 1;
  
}

#splash_screen_moving{
  position: relative;
  flex: 1.5;
}

#welcome_img{
  text-align: center;
  perspective: 800px;
  flex: 1;
}
#dynamic_gif {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 7.5%;;
  right: -90%;
  animation: slideInFromRight 5s ease-out 1s forwards, fade_out 1s linear 12s forwards;
}

@keyframes slideInFromRight {
  from {
    right: -50%;
  }
  to {
    right: 0%;
  }
}

@keyframes fade_out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#static_pic{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 7.5%;
  right:0%;
  opacity: 0;
  animation: delayed_glowing 3s ease-out 8s forwards;
}

@keyframes delayed_glowing {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.entry_dance {
  width: 100%;
}

#logo_splash {
  margin-top: 20%;
  margin-left: 20%;
  width: 80%;
  transform: rotateY(25deg) rotateX(10deg); 
  transition: transform 0.5s, box-shadow 0.5s;
  box-shadow: 1px 1px 50px lavenderblush;
}
#welcome_img:hover #logo_splash {
  transform: rotateY(0deg) rotateX(0deg);
  box-shadow: 1px 1px 10px lavenderblush;
}

#splash_closing_arrow_link{
  font-size: 3.5rem;
  color: lavenderblush;
  font-weight: 900;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
#splash_closing_arrow:hover{
opacity: 0.8;
}
article {
  margin-bottom: 10rem;
}
article:first-child {
  margin-top: 0rem;
}


h1 {
  text-align: center;
  font-size: 6rem;
  padding-top: 5rem;
  padding-bottom: 1.5rem;
  text-align: center;
  color: hsla(291, 98%, 56%, 1);;
  text-shadow: 1px 1px 20px hsla(291, 98%, 56%, 1);
  font-family: "Moon Dance", cursive;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0.2rem;
}

#navigation_bar_wrapper {
  width: 80vw;
  height: 4rem;
  margin: 0 auto;  
  position: fixed;
  z-index: 100;
  font-family: "Moon Dance", cursive;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0.2rem;
}

#navigation_bar {
  display: flex;
  list-style-type: none;
  width: 100%;
  height: 100%;
  background-color: #000000;
}

#navigation_bar li {
  flex: 1;
  text-align: center;
  height: 100%;
  background: linear-gradient(-45deg, hsla(291, 98%, 56%, 1), rgba(238, 130, 238, 0.356));
}

#navigation_bar li a {
  display: block;
  height: 100%;
  line-height: 3.7rem;
  text-decoration: none;
  color: lavenderblush;
  text-shadow: 1px 0px 5px black;
  font-size: 1.8rem;
  border: 5px ridge hsla(291, 98%, 56%, 1);
  transition: all 0.3s ease;
}

#navigation_bar li a:hover {
  border-color: lavenderblush;
  background-color: hsla(291, 98%, 56%, 0.527);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  font-size: 2rem;
}

#navigation_bar li a:active {
  background-color: rgba(238, 130, 238, 0.5);;
}

#navigation_bar li .selected{
  background-color: lavenderblush;
  color: hsla(291, 98%, 56%, 1);
  text-shadow: none;
}

#tango_dance_img {
  width: 80vw;
  box-shadow: 0 0 50px violet;
  border-radius: 1rem;
  border: thick ridge lavenderblush;
}


#about {
  color: lavenderblush;
}

#about_opening{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 4rem auto;
}

#about_rotate {
  font-size: 1.5rem;
  transform-origin: left;
  transition: all 2s ease-in-out;
  text-shadow: 0px 0px 5px black;
}

#about_scrolling_img{
  width: 25%;
  position: relative;
  border-radius: 50%;
  z-index: 1;
}

#about_text {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 30rem;
  text-align: center;
}

#about_text > p {
  border-bottom: thin dashed hsla(291, 98%, 56%, 1);
  grid-column: 2; 
  margin-top: 15rem;
  transition: all 1s ease-in;
}

#about_text > div {
  border-bottom: thin dashed hsla(291, 98%, 56%, 1);
  grid-column: 1;
  width: 99.5%;
}

#instructors {
  color: lavenderblush;
}

.instructor {
  width: 20rem;
  position: relative;
  transition: width 0.3s ease;
}

.instructor:hover{
  width: 28rem;
}

.instructor:hover > .speech_bubble {
  opacity: 1;
}

.speech_bubble {
  margin-bottom: -3rem;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  height: 10rem;
  opacity: 0; /* Initially set to opacity 0 */
  transition: opacity 0.3s ease; /* Adding a transition for smoothness */
}


.bubble_arrow{
  border-left: thin solid rgba(238, 130, 238, 0.356);
  border-bottom: thin solid rgba(238, 130, 238, 0.356);
  height: 4rem;
  width: 4rem;
  align-self: flex-end;
  transform: skew(-10deg, 0deg);
  rotate: -3.5deg;
  position: absolute;
  right: 11.05rem;
  background: linear-gradient(to right top, rgb(77, 64, 77) 55%, rgba(238, 130, 238, 0) 0%);
}

.bubble_box{
  border: thin solid rgba(238, 130, 238, 0.356);
  border-radius: 5rem;
  flex: 0 1 15rem;
  background: linear-gradient(to right top, rgb(77, 64, 77) 20%, rgba(238, 130, 238, 0) 75%);
  padding-top: 3.5rem;
  padding-left: 2rem;
  color: lavenderblush;
  text-decoration: none;
}
.bubble_box:visited{
color: lavenderblush;
}

.insturctor_image {
  border: 1rem inset hsla(291, 98%, 56%, 1);
  border-radius: 50%;
  transition: all 0.3s linear;
}

.insturctor_image:hover {
  transform: translate(-15px, 15px) scale(1.1);
}

#instructors_area{
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(5, 20%) ;
}

#instuctor1-grid {
  grid-column: 1/2;
  grid-row: 1;
}
#instuctor2-grid {
  grid-column: 3/4;
  grid-row: 1;
}
#instuctor3-grid {
  grid-column: 5;
  grid-row: 1;
}
#instuctor4-grid {
  grid-column: 2/3;
  grid-row: 2;
}
#instuctor5-grid {
  grid-column: 4/5;
  grid-row: 2;
}
#instuctor6-grid {
  grid-column: 1/2;
  grid-row: 3;
}
#instuctor7-grid {
  grid-column: 3/4;
  grid-row: 3;
}
#instuctor8-grid {
  grid-column: 5;
  grid-row: 3;
}

span {
  color: violet;
  font-family: "Moon Dance", cursive;
  font-size: 2rem;
}

/* ################ card styling ################# */

#instuctor1{
  display: none;
  background-color: hsla(0, 0%, 30%, 0.849);
  width: 80vw;
  height: calc(100vh + 25rem);
  padding: 1rem;
  margin-top: -150vh;
  position: relative;
  z-index: 1;
}
#instuctor2{
  display: none;
  background-color: hsla(0, 0%, 30%, 0.849);
  width: 80vw;
  height: calc(100vh + 25rem);
  padding: 1rem;
  margin-top: -150vh;
  position: relative;
  z-index: 1;
}
#instuctor3{
  display: none;
  background-color: hsla(0, 0%, 30%, 0.849);
  width: 80vw;
  height: calc(100vh + 25rem);
  padding: 1rem;
  margin-top: -150vh;
  position: relative;
  z-index: 1;
}
#instuctor4{
  display: none;
  background-color: hsla(0, 0%, 30%, 0.849);
  width: 80vw;
  height: calc(100vh + 25rem);
  padding: 1rem;
  margin-top: -150vh;
  position: relative;
  z-index: 1;
}
#instuctor5{
  display: none;
  background-color: hsla(0, 0%, 30%, 0.849);
  width: 80vw;
  height: calc(100vh + 25rem);
  padding: 1rem;
  margin-top: -150vh;
  position: relative;
  z-index: 1;
}
#instuctor6{
  display: none;
  background-color: hsla(0, 0%, 30%, 0.849);
  width: 80vw;
  height: calc(100vh + 25rem);
  padding: 1rem;
  margin-top: -150vh;
  position: relative;
  z-index: 1;
}
#instuctor7{
  display: none;
  background-color: hsla(0, 0%, 30%, 0.849);
  width: 80vw;
  height: calc(100vh + 25rem);
  padding: 1rem;
  margin-top: -150vh;
  position: relative;
  z-index: 1;
}
#instuctor8{
  display: none;
  background-color: hsla(0, 0%, 30%, 0.849);
  width: 80vw;
  height: calc(100vh + 25rem);
  padding: 1rem;
  margin-top: -150vh;
  position: relative;
  z-index: 1;
}
#instuctor1:target{
  display: block;
}
#instuctor2:target{
  display: block;
}
#instuctor3:target{
  display: block;
}
#instuctor4:target{
  display: block;
}
#instuctor5:target{
  display: block;
}
#instuctor6:target{
  display: block;
}
#instuctor7:target{
  display: block;
}
#instuctor8:target{
  display: block;
}

.close_card_btn {
	width: 4rem;
  height: 4rem;
  display: block;
	position: absolute;
	top: -19rem;
	right: 1rem;
}

.close{
  width: 4rem;
  height: 4rem;
  position: absolute;
	top: 0;
	right: 0;
}
.close:hover{
  opacity: 0.8;
}


.instructor_card {
  width: 28.125rem;
  background-color: lavenderblush;
  border-radius: 1.5rem;
  overflow: hidden;
  margin: 4rem auto;
}

.instructor_card_image {
  width: 28.125rem;
  
}

.instructor_card_info > * {
  color: #000000;
  margin:1rem 0;
}
.instructor_name{
  color: hsla(291, 98%, 56%, 1);
  font-weight: 900;
  font-size: 3rem;
  margin: 0rem auto 0rem auto;
  padding: 1rem;
}

.instructor_card_info {
  padding: 1.8rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}


.trail_button{
  display: block;
  background-color: hsla(291, 98%, 56%, 1);
  padding: 1rem 0;
  color: lavenderblush;
  box-shadow: 0.3rem 0.3rem 1rem hsla(291, 98%, 56%, 0.5); 
  width: 100%;
  border: none;
  font-weight: 700;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 0.8rem;
  text-decoration: none;
  text-align: center;
  width: 80%;
  margin: 0 auto;;
}

.trail_button:hover{
  color: hsla(291, 98%, 56%, 1);
  background-color: lavenderblush;
}

#events {
  color: lavenderblush;
}

#events_wrapper{
  margin-top: 2rem;
  width: 100%;
  height: 50rem;
  display: flex;
  flex-wrap: wrap;
  flex:1;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

#events_wrapper > div {
  height: 48%;
  width: 48%;
  border: #4c4c4c solid;
}

#event1{
  background-image: url("../images/Cover_event1.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

#event2{
  background-image: url("../images/cover_event2.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
#event3{
  background-image: url("../images/cover_event3.jpg");
  background-size: cover;
  background-position: top;
  position: relative;
}
#event4{
  background-image: url("../images/cover_event4.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.event_links{
  display: block;
  width: 100%;
  height: 100%;
  color: transparent;
}

.image_event {
  display: none;
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: thick lavenderblush solid;
}

.events_names {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 1.5rem;
  color: transparent;
  display: inline-block;
}

#event1:hover .events_names {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px black;
  backdrop-filter: blur(5px);
}
#event2:hover .events_names {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px black;
  backdrop-filter: blur(5px);
}
#event3:hover .events_names {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px black;
  backdrop-filter: blur(5px);
}
#event4:hover .events_names {
  color: rgb(255, 255, 255);
  text-shadow: 0px 0px 5px black;
  backdrop-filter: blur(5px);
}
#event1:hover .image_event {
  display: block;
}
#event2:hover .image_event {
  display: block;
}
#event3:hover .image_event {
  display: block;
}
#event4:hover .image_event {
  display: block;
}
#event1:hover,#event2:hover,#event3:hover,#event4:hover{
  transform: scale(1.03);
  box-shadow: 0 0 50px hsla(291, 98%, 56%, 1);
  
}

/* ################# Slider ################## */

#events-slider{
  display: none;
  background-color: hsla(0, 0%, 0%, 0.75);
  padding: 10rem;
  margin-top: -55rem;
  position: relative;
}

#event-slider-wrapper {
  box-shadow: 0px 0px 100px hsla(291, 98%, 56%, 1);
	width: 60rem;
	height: 40rem;
	margin: auto;
	position: relative;
	overflow: hidden;
}

#event-slider-wrapper ul {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	transition: left 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

#event-slider-wrapper ul li {
	background-size: cover;
	position: relative;
	min-width: 60rem;
	height: 40rem;
	float: left;
}

.close_slider_btn {
  display: block;
	position: absolute;
	top: 1rem;
	right: 1rem;
	width: 4rem;
  height: 4rem;
}




#slider-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	background-color: rgba(220, 33, 253, 0.411);
	justify-content: space-between;
}

#slider-controls a {
	display: block;
	padding: 1.25rem;
	color: lavenderblush;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	width: 12.5rem;
	background-color: hsl(291, 98%, 56%);
}

#slider-controls a:hover {
	display: block;
	padding: 1.25rem;
	color: hsl(291, 98%, 56%);
	background-color: lavenderblush  ;
}

.events_listitems{
  list-style-type: none;
}
/* ###################### classes ################### */
#classes {
  color: lavenderblush;
}
#course-name{ 
  display: block;
  background-image: url(../images/searchicon.png);
  background-position: 0.625rem 0.625rem;
  background-repeat: no-repeat;
  width: 80%;
  font-size: 1rem;
  padding: 0.75rem 2.2rem 0.75rem 2.2rem;
  border: 1px solid lavenderblush;
  margin-bottom: 0.75rem;
  margin: 0rem auto;
}

#courses-table {
  border-collapse: collapse;
  width: 80%;
  border: thin solid lavenderblush;
  font-size: 1.1rem;
  margin: 1rem auto;
}
#courses-table th, #courses-table td {
  text-align: center;
  padding: 0.7rem;
}
#courses-table th:first-child, #courses-table td:first-child {
  text-align: left;
  padding: 0.7rem;
}

#courses-table tr {
  border-bottom: 2px solid lavenderblush;
}

#courses-table tr.header, #courses-table tr:hover {
  background-color: rgba(238, 130, 238, 0.356);
}

#contact {
  color: hsla(291, 98%, 56%, 1);
}

#Contact {
  max-width: 32.125px;
  margin: 0 auto;
  padding: 1.3rem;
}

.Contact_form_label {
  display: block;
  margin-bottom: 0.3rem;
}

.Contact_form_input,
.Contact_form_select,
.Contact_form_textarea {
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 1.3rem;
  border: 1px solid hsla(291, 98%, 56%, 1);
  border-radius: 0.3rem;
  background-color: rgb(77, 68, 68);
  color: lavenderblush;
}

.Contact_form_textarea {
  height: 150px;
  resize: none;
}

.Contact_form_submit {
  background-color: hsla(291, 98%, 56%, 1);
  color: lavenderblush;
  border: none;
  padding: 1rem 1.3rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0px auto 0px auto;
  display: block;
  width: 100%;
}

.Contact_form_submit:hover {
  background-color: hsla(291, 98%, 56%, 1);
  color: lavenderblush;
}

.Contact_form_label_contact_preference {
  text-align: center;
  display: block;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

h2 {
  text-align: center;
  font-size: 4rem;
  padding-top: 5rem;
  padding-bottom: 1.5rem;
  text-align: center;
  color: hsla(291, 98%, 56%, 1);
  text-shadow: 1px 1px 20px hsla(291, 98%, 56%, 1);
  font-family: "Moon Dance", cursive;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0.2rem;
}

#Contact_form_container {
  width: 40%;
  background-color: black;
  padding: 1.3rem;
  border-radius: 10px;
  margin: 1rem auto;
  border: lavenderblush ridge thick;
  box-shadow: 1px 1px 20px hsla(291, 98%, 56%, 1);
}

/* ########### footer ############### */

footer {
  width: 98vw;
  position: absolute;
  left: 0;
  background : linear-gradient(to right, hsla(291, 98%, 56%, 1), hsla(261, 94%, 70%, 1));
  color: lavenderblush; 
}

footer div{
  text-align: center;
  line-height: 1.7;
}
