@import url('universal.css');

body {
::-webkit-scrollbar {
  width: 11px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 100, 0, 0.705); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: darkgreen; 
}
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

section {
  display: flex;
  flex-wrap: wrap;
}

.sp {
  position: relative;
  z-index: 10;
}
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
}
.heading1 {
  position: relative;
  background-image: url('https://i.ibb.co/pyw0DLs/food.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
  text-shadow: 2px 2px 4px rgba(248, 255, 38, 0.907);
  color: #ffffff;
  margin-top: 10px;
}

article {
  flex: 1;
  border: 1px solid darkgreen;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;
  background-color: lemonchiffon;
  box-sizing: border-box;
  box-shadow: 2 2 10px rgba(0, 0, 0, 0.1);
  align-items: stretch;
}

article a {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  color: rgb(67, 95, 71);
  font-size: 1.2rem;
  padding: 5px 10px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  border: 1px solid rgb(67, 95, 71);  
  align-items: flex-end;
}

article p {
  height: 6rem;
  overflow: auto;
}


article:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease-in-out;
  user-select: none;
}

article a:hover {
  background-color: darkgreen;
  color: #fff;
  font-weight: bold;
  border: none;
}

div {
  flex: 1;
}

@media only screen and (max-width: 768px) {
  body {
    margin: 2rem 2%;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  nav li {
    padding: 0.5rem;
  }

  article {
    flex: 1 100%;
  }
}