@import url('../universal.css');

#slider-wrapper{
  width: 80rem;
  height: 40rem;
  margin: 2rem auto;
  overflow: hidden;
  position: relative;
	border-radius: 20px;
}

ul, li{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#slider-wrapper ul{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: left 1300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
#slider-wrapper ul li {
	background-size: cover;
	position: relative;
  width: 80rem;
  height: 40rem;
	float: left;
}

#slider-wrapper ul li:nth-child(1) {
  background-image: url(images/beefStrakFries1.jpg);
}
#slider-wrapper ul li:nth-child(2) {
	background-image: url(images/beefgoulash1.jpg);
}
#slider-wrapper ul li:nth-child(3) {
  background-image: url(images/rips1.jpg);
}
#slider-wrapper ul li:nth-child(4) {
	background-image: url(images/pennePasta1.jpg);
}
#slider-wrapper ul li:nth-child(5) {
  background-image: url(images/whitePasta1.jpg);
}
#slider-wrapper ul li:nth-child(6) {
	background-image: url(images/shrimps1.jpg);
}
#slider-wrapper ul li:nth-child(7) {
  background-image: url(images/miniPizza1.jpg);
}
#slider-wrapper ul li:nth-child(8){
	background-image: url(images/drinks1.jpg);
}
#slider-wrapper ul li{
	background-position: center;
}
.content {
	position: absolute;
	top: 1.25rem;
	left: 1.25rem;
	width: 18.75rem;
	padding: 1.25rem;
	background-color: rgba(255, 255, 255, 0.7);
	font-style: italic;
	backdrop-filter: blur(5px);
}
.price {
	position: absolute;
	bottom: 4.5rem;
	right: 1.25rem;
	width: 9rem;
	padding: 1rem;
	background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	font-style: italic;
	backdrop-filter: blur(5px);
}

#slider-controls {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	display: flex;
	background-color: #004d00;
	justify-content: space-between;
}

#slider-controls a {
  display: block;
  padding: 1.3rem;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	width: 200px;
	background-color: #789578;
}

#slider-controls a:hover{
	background-color: #006400;
}

@media only screen and (max-width: 1200px) {
	#slider-wrapper{
		width: 40rem;
		height: 80rem;
}
#slider-wrapper ul li {
  width: 40rem;
  height: 80rem;
}

}
@media only screen and (max-width: 760px) {
	#slider-wrapper{
		width: 20rem;
		height: 40rem;
}
#slider-wrapper ul li {
  width: 20rem;
  height: 40rem;
}
.content {
	position: absolute;
	top: 1.25rem;
	left: 1.25rem;
	width: 10rem;
	padding: 1.25rem;
	background-color: rgba(255, 255, 255, 0.7);
	font-style: italic;
	backdrop-filter: blur(5px);
}
.price {
	position: absolute;
	bottom: 4.5rem;
	right: 1.25rem;
	width: 7rem;
	padding: 1rem;
	background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
	font-size: 1.5rem;
	font-weight: bold;
	font-style: italic;
	backdrop-filter: blur(5px);
}
}