.main {
    max-width: 3000px;
    margin: 0 auto;
    }

.product-grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    }
    @media (max-width: 2000px) {
    .product-grid {
        grid-template-columns: repeat(7, 1fr);
        }
    }

    @media (max-width: 1600px) {
        .product-grid {
        grid-template-columns: repeat(6, 1fr);
        }
    }

    @media (max-width: 1300px) {
    .product-grid {
        grid-template-columns: repeat(5, 1fr);
        }
    }

    @media (max-width: 1000px) {
    .product-grid {
        grid-template-columns: repeat(4, 1fr);
        }
    }
    
    @media (max-width: 800px) {
    .product-grid {
        grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (max-width: 575px) {
    .product-grid {
        grid-template-columns: repeat(2, 1fr);
        }
    }

@media (max-width: 450px) {
    .product-grid {
    grid-template-columns: 1fr;
    }}

    .product-container {
        padding-top: 3rem;
        padding-bottom: 1.7rem;
        padding-left: 1.7rem;
        padding-right: 1.7rem;
        
        border-right: 1px solid rgb(231, 231, 231);
        border-bottom: 1px solid rgb(231, 231, 231);
        
        display: flex;
        flex-direction: column;
    }
    .product-image {
        max-width: 100%;
        max-height: 100%;
    }

    .product-name {
        height: 2.5;
        margin-bottom: 0.33rem;
    }
    
    .product-rating-container {
        display: flex;
        align-items: center;
        margin-bottom: .75rem;
    }

    .product-rating-stars {
        width: 6.5rem;
        margin-right: 0.4rem;
    }

    .product-rating-count {
        color: rgb(1, 119, 182);
        cursor: pointer;
        margin-top: 0.2rem;
    }
    .product-price {
        font-weight: 700;
        margin-bottom: 0.7rem;
    }
    
    .product-quantity-container {
        margin-bottom: 1.15rem;
    }
    
    .product-spacer {
        flex: 1;
    }
    .added-to-cart {
        color: rgb(6, 125, 98);
        font-size: 1rem;
        display: flex;
        align-items: center;
        margin-bottom: 0.55rem;
        opacity: 0;
    }
    .added-to-cart-visible{
        opacity: 1;
    };
    .added-to-cart img {
        height: 1.33rem;
        margin-right: .3rem;
    }
    .add-to-cart-button {
        width: 100%;
        padding: .55rem;
        border-radius: 3.3rem;
    }

    .header-link {
        border: none;
    }